{% extends './base.html' %}
{% block title %}Dashboard{% endblock %}
{% block extrastyles %}
{% endblock %}
{% block body %}
<h1 class="well">Academic Details</h1>
<div class="col-lg-12 well">
   <hr>
   <div style="margin-left:20px;margin-bottom:20px;">
      <table class="responsive-table" style="width:80%;">
         <label>Current Academics</label>
         <thead>
            <tr>
               <th scope="col">Semester</th>
               <th scope="col">SGPA</th>
            </tr>
         </thead>
         <tbody>
           {% set count = 0 %}
           {% set total = 0 %}
           {% for sem in academic_details.spi %}

               <tr>
                  <td data-title="Semester">{{ sem }}</td>
                  <td data-title="SGPA">{{ academic_details.spi[sem] }}</td>
                  {% set count = count + 1 %}
                  {% set total = total + academic_details.spi[sem] %}
               </tr>

          {% endfor %}
         </tbody>
      </table>
      <hr>
      <label>Backlogs</label>


      <table class="responsive-table" style="width:80%;">
         <thead>
            <tr>
               <th scope="col">S.No</th>
               <th scope="col">Semester</th>
               <th scope="col">Course</th>
            </tr>
         </thead>
         <tbody>
           {% for backlog in academic_details.active_backlog %}

               <tr>
                 <td data-title="S.no">{{ backlog }}</td>
                  <td data-title="Semester">{{ academic_details.active_backlog[backlog].sem }}</td>
                  <td data-title="Course">{{ academic_details.active_backlog[backlog].course }}</td>
               </tr>

          {% endfor %}
         </tbody>
      </table>


      <br>
      {% if count != 0 %}
    <label>Aggregate CGPA : {{ total/count }}</label>
      {% else %}
      
      {% endif %}

   </div>
   <hr>
   <form>
      <div class="col-sm-12">
         <label>12th Standard</label>
         <div class="form-group">
            <label>Institute Name</label>
            <input type="text" class="form-control" placeholder="Enter Institute's name">
         </div>
         <div class="row">
            <div class="col-sm-6 form-group">
               <label>City</label>
               <input type="text" class="form-control" placeholder="Enter the Institute's city">
            </div>
            <div class="col-sm-6 form-group">
               <label>Country</label>
               <input type="text" class="form-control"
               placeholder="Enter Institute's country">
            </div>
         </div>
         <div class = "row">
            <div class="col-sm-6 form-group">
               <label>Board</label>
               <input type="text" class="form-control"
               placeholder="Enter your board, i.e CBSE, ICSE, etc">
            </div>
            <div class="col-sm-6 form-group">
               <label>Year</label>
               <input type="text" class="form-control"
               placeholder="Enter year of completion">
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6 form-group">
               <label>Aggregate</label>
               <input type="text" class="form-control"
               placeholder="Enter aggregate">
            </div>
            <div class="col-sm-6 form-group">
               <label>Subjects</label>
               <input type="text" class="form-control"
               placeholder="Enter subjects pursued">
            </div>
         </div>
         <hr>
         <label>10th Standard</label>
         <div class="form-group">
            <label>Institute Name</label>
            <input type="text" class="form-control" placeholder="Enter Institute's name">
         </div>
         <div class="row">
            <div class="col-sm-6 form-group">
               <label>City</label>
               <input type="text" class="form-control" placeholder="Enter the Institute's city">
            </div>
            <div class="col-sm-6 form-group">
               <label>Country</label>
               <input type="text" class="form-control"
               placeholder="Enter Institute's country">
            </div>
         </div>
         <div class = "row">
            <div class="col-sm-6 form-group">
               <label>Board</label>
               <input type="text" class="form-control"
               placeholder="Enter your board, i.e CBSE, ICSE, etc">
            </div>
            <div class="col-sm-6 form-group">
               <label>Year</label>
               <input type="text" class="form-control"
               placeholder="Enter year of completion">
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6 form-group">
               <label>Aggregate</label>
               <input type="text" class="form-control"
               placeholder="Enter aggregate">
            </div>
            <div class="col-sm-6 form-group">
               <label>Subjects</label>
               <input type="text" class="form-control"
               placeholder="Enter subjects pursued">
            </div>
         </div>
         <a href="index.html" button class="btn btn-lg btn-info">Previous</button> </a>
         <a href="form3.html" button class="btn btn-lg btn-info">Next</button> </a>
   </form>
</div>
{% endblock %}
