{% extends './recuiter_base.html' %}
{% block title %}Event Details{% endblock %}
{% block extrastyles %}
{% endblock %}
{% block body %}
<h1 class="well">Event Details</h1>
<div class="col-lg-12 well">
    <div class="row">
        <form>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Event Title</label>
                    <input type="text" placeholder="Event Title" class="form-control" value="{{ details.eventTitle }}">
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Company Name</label>
                        <input type="text" class="form-control" value="{{ details.companyName }}">
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Type</label>
                        <select class="form-control" id="sel2">
                            <option>Recruitment</option>
                            <option>Training</option>
                            <option>Seminar</option>
                            <option>Assessment</option>
                            <option>Others</option>
                        </select>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Status</label>
                        <input type="text" class="form-control" disabled="true" placeholder="Defined">
                    </div>
                </div>
                <div class="form-group">
                    <label>Eligible Courses</label>
                    <div class="container">
                        <div class="row">
                            <div class="form-group">
                                <div class="searchable-container">
                                    <div class="items col-sm-2">
                                        <div class="info-block block-info clearfix">
                                            <div class="square-box pull-left">

                                            </div>
                                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                                <label class="btn btn-default">
                                                    <div class="bizcontent">
                                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                                        <h5>CCE</h5>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="items col-sm-2">
                                        <div class="info-block block-info clearfix">
                                            <div class="square-box pull-left">

                                            </div>
                                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                                <label class="btn btn-default">
                                                    <div class="bizcontent">
                                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                                        <h5>CSE</h5>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="items col-sm-2">
                                        <div class="info-block block-info clearfix">
                                            <div class="square-box pull-left">

                                            </div>
                                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                                <label class="btn btn-default">
                                                    <div class="bizcontent">
                                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                                        <h5>ECE</h5>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="items col-sm-2">
                                        <div class="info-block block-info clearfix">
                                            <div class="square-box pull-left">

                                            </div>
                                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                                <label class="btn btn-default">
                                                    <div class="bizcontent">
                                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                                        <h5>MME</h5>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="items col-sm-2">
                                        <div class="info-block block-info clearfix">
                                            <div class="square-box pull-left">

                                            </div>
                                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                                <label class="btn btn-default">
                                                    <div class="bizcontent">
                                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                                        <h5>ME</h5>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Eligibility Criteria</label>
                    <textarea class="common form-control" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label>Selection Process Details</label>
                    <textarea class="form-control" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label>Other Details</label>
                    <textarea class="form-control" rows="5"></textarea>
                </div>
                <a href="./position_details.html" button class="btn btn-lg btn-info">Next</button> </a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
