{% extends './recuiter_base.html' %}
{% block title %}Event Details{% endblock %}
{% block extrastyles %}
{% endblock %}
{% block body %}
<h1 class="well">Event Details</h1>
<div class="col-lg-12 well">
    <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Event Title</label>
                    <input id="event_title" type="text" placeholder="Event Title" class="form-control" value="{{ details.eventTitle }}">
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Company Name</label>
                        <input id="company_name" type="text" class="form-control" value="{{ details.companyName }}">
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Type</label>
                        <select class="form-control" id="sel2">
                            {% if details.type == "Recruitment" %}
                            <option selected>Recruitment</option>
                            {% else %}
                            <option>Recruitment</option>
                            {% endif %}

                            {% if details.type == "Training" %}
                            <option selected>Training</option>
                            {% else %}
                            <option>Training</option>
                            {% endif %}

                            {% if details.type == "Seminar" %}
                            <option selected>Seminar</option>
                            {% else %}
                            <option>Seminar</option>
                            {% endif %}

                            {% if details.type == "Assessment" %}
                            <option selected>Assessment</option>
                            {% else %}
                            <option>Assessment</option>
                            {% endif %}

                            {% if details.type == "Others" %}
                            <option selected>Others</option>
                            {% else %}
                            <option>Others</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Status</label>
                        <input type="text" class="form-control" disabled="true" placeholder="Defined">
                    </div>
                </div>
                <div class="form-group">
                    <label>Eligible Courses</label>
                    <div class="container">
                        <div class="row">
                            <div class="form-group">
                                <div class="searchable-container">
                                    <div class="items col-sm-2">
                                        <div class="info-block block-info clearfix">
                                            <div class="square-box pull-left">

                                            </div>
                                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                              {% if details.cce %}
                                             <label class="btn btn-default active">
                                               <div class="bizcontent">
                                              <input id="cce" type="checkbox" name="var_id[]" autocomplete="off" checked value="">
                                               {% else %}
                                             <label class="btn btn-default">
                                               <div class="bizcontent">
                                                   <input id="cce" type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                {% endif %}

                                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                                        <h5>CCE</h5>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="items col-sm-2">
                                        <div class="info-block block-info clearfix">
                                            <div class="square-box pull-left">

                                            </div>
                                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                              {% if details.cse %}
                                             <label class="btn btn-default active">
                                               <div class="bizcontent">
                                                   <input id="cse" type="checkbox" name="var_id[]" checked autocomplete="off" value="">
                                               {% else %}
                                             <label class="btn btn-default">
                                               <div class="bizcontent">
                                                   <input id="cse" type="checkbox" name="var_id[]"  autocomplete="off" value="">
                                                {% endif %}

                                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                                        <h5>CSE</h5>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="items col-sm-2">
                                        <div class="info-block block-info clearfix">
                                            <div class="square-box pull-left">

                                            </div>
                                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                              {% if details.ece %}
                                             <label class="btn btn-default active">
                                               <div class="bizcontent">
                                                   <input id="ece" type="checkbox" name="var_id[]" checked autocomplete="off" value="">
                                               {% else %}
                                             <label class="btn btn-default">
                                               <div class="bizcontent">
                                                   <input id="ece" type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                {% endif %}

                                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                                        <h5>ECE</h5>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="items col-sm-2">
                                        <div class="info-block block-info clearfix">
                                            <div class="square-box pull-left">

                                            </div>
                                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                              {% if details.mme %}
                                             <label class="btn btn-default active">
                                               <div class="bizcontent">
                                                   <input id="mme" type="checkbox" name="var_id[]" autocomplete="off" checkbox value="">
                                               {% else %}
                                             <label class="btn btn-default">
                                               <div class="bizcontent">
                                                   <input id="mme" type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                {% endif %}

                                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                                        <h5>MME</h5>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="items col-sm-2">
                                        <div class="info-block block-info clearfix">
                                            <div class="square-box pull-left">

                                            </div>
                                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                                 {% if details.me %}
                                                <label class="btn btn-default active">
                                                  <div class="bizcontent">
                                                      <input id="me" type="checkbox" checked name="var_id[]" autocomplete="off" value="true">
                                                  {% else %}
                                                <label class="btn btn-default">
                                                  <div class="bizcontent">
                                                      <input id="me" type="checkbox" name="var_id[]" autocomplete="off" value="true">
                                                   {% endif %}

                                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                                        <h5>ME</h5>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Eligibility Criteria</label>
                    <textarea id="eligibility_criteria" class="common form-control" rows="5"> {{ details.eligibility_criteria }}</textarea>
                </div>
                <div class="form-group">
                    <label>Selection Process Details</label>
                    <textarea id="selection_process_details" class="form-control" rows="5"> {{ details.selection_process_details }} </textarea>
                </div>
                <div class="form-group">
                    <label>Other Details</label>
                    <textarea id="other_details" class="form-control" rows="5">{{ details.other_details }}</textarea>
                </div>
                <h1 id="id_error"></h1>
                <a> <button onClick="submit_form()" class="btn btn-lg btn-info">Save</button> </a>
            </div>
    </div>
</div>

<script>
function submit_form() {
  $('#id_error').text('');

  var frm = $('#id_event_form');

  var data = JSON.stringify({
    event_title: $('#event_title').val(),
    company_name: $('#company_name').val(),
    type: $('#sel2').val(),
    eligibility_criteria: $('#eligibility_criteria').val(),
    selection_process_details: $('#selection_process_details').val(),
    other_details: $('#other_details').val(),
    cce: $('#cce').is(":checked"),
    cse: $('#cse').is(":checked"),
    ece: $('#ece').is(":checked"),
    mme: $('#mme').is(":checked"),
    me: $('#me').is(":checked"),
  });

  $.ajax({
    type: 'POST',
    url: '/api/v1/recuiter/event_details',
    contentType: 'application/json',
    data: data,
    success: function(result) {
      if (result.success === 1) {
        $('#id_error').text(result.message);
        $(location).attr('href', '/recuiter/position_details');
      } else if (result.success === -99) {
        $(location).attr('href', './logout');
      } else {
        $('#id_error').text(result.message);
      }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
      $('#id_error').text('Error: ' + errorThrown);
    },
  });
  return false;
}
</script>

{% endblock %}
