{% extends './base.html' %}
{% block title %}Work Expriences - Online Placement Portal{% endblock %}
{% block extrastyles %}
{% endblock %}
{% block body %}
<h1 class="well">Work Experience</h1>
   <div class="col-lg-12 well" >
      <div class="row">

            <div class="col-sm-12">
               <div class="row">
                 {% for exprience in expriences.expriences %}

                 {% if expriences.expriences[exprience] != -1 %}
                  <div class="form-group">
                     <label>Position of responsibility</label>
                     <input required id="id_{{ exprience }}_responsibility"  value="{{ expriences.expriences[exprience].responsibility }}" type="text" class="form-control" placeholder="Enter the position you held..">
                  </div>
                  <div class="form-group">
                     <label>Work Tenure</label>
                     <input required id="id_{{ exprience }}_work"  value="{{ expriences.expriences[exprience].work }}" type="text" class="form-control" placeholder="Enter your work tenure here..">
                  </div>
                  <div class="form-group" id="p{{ loop.index }}" style="visibility: hidden; height:0">
                     <label>Company</label>
                     <textarea required id="id_{{ exprience }}_company"  placeholder="Enter Company name here.." rows="3" class="form-control">{{ expriences.expriences[exprience].company }}</textarea>
                  </div>

                  <h1 id="id_error_update"></h1>
                  <a> <button style="margin-left:950px;" onclick="updateExprience('{{ exprience }}', 0);" class="btn btn-info"><i class="material-icons">mode_edit</i></button> </a>
                  <a> <button onclick="updateExprience('{{ exprience }}', 1);" class="btn btn-info"><i class="material-icons">delete</i></button> </a>


                  <input hidden id="p{{ loop.index }}_state" value="0" type="text">
                  <button onclick="toggleState('p{{ loop.index }}')" class="btn btn-info"><i class="material-icons">open_with</i></button>


             {% else %}

             {% endif %}

            {% endfor %}

         </div>

         <div class="row">
           <form id="id_new_exprience_form" action="/api/v1/add_new_exprience" method="post">
              <div class="col-sm-12">
                 <div class="row">
                   <div class="form-group">
                      
                      <h3 style="color:#191970;">Position of Responsibility</h3>
                      <input required id="id_new_exprience_responsibility"   type="text" class="form-control" placeholder="Enter the position you held..">
                   </div>
                   <div class="form-group">
                   <h3 style="color:#191970;">Work Tenure</h3>
            
                      <input required id="id_new_exprience_work"  type="text" class="form-control" placeholder="Enter your work tenure here..">
                   </div>
                   <div class="form-group" id="p1" class="collapse">
                      <h3 style="color:#191970;">Company</h3>
                      <textarea required id="id_new_exprience_company"   placeholder="Enter Company name here.." rows="3" class="form-control"></textarea>
                   </div>
                  </div>
                </div>
                <h1 id="id_error"></h1>
                <a> <button style="margin-left:1050px;" class="btn btn-lg btn-primary"><i class="material-icons">note_add</i></button> </a>
            </form>



         </div>


         </div>

      </div>
   </div>
   <a href="./"> <button class="btn btn-lg btn-success">Submit for Review</button> </a>
</div>
      <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="{{ url_for('static', filename='js/exprience.js') }}" ></script>

      <script>
      function updateExprience(exprience, query) {
  $('#id_error_update').text('');
  $.ajax({
    type: 'POST',
    url: '/api/v1/update_exprience',
    contentType: 'application/json',
    data: JSON.stringify({
      exprience: exprience,
      exprience_responsibility: $('#id_' + exprience + '_responsibility').val(),
      exprience_work: $('#id_' + exprience + '_work').val(),
      exprience_company: $('#id_' + exprience + '_company').val(),
      query: query,
    }),
    success: function(result) {
      if (result.success === 1) {
        $('#id_error_update').text(result.message);
        $(location).attr('href', './exprience');
      } else if (result.success === -99) {
        $(location).attr('href', './logout');
      } else {
        $('#id_error_update').text(result.message);
      }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
      $('#id_error_update').text('Error: ' + errorThrown);
    },
  });
  return false;
}
</script>
{% endblock %}
