{% extends './base.html' %}
{% block title %}Dashboard{% endblock %}
{% block extrastyles %}
{% endblock %}
{% block body %}
<h1 class="well">Family Details</h1>
<div class="col-lg-12 well">
   <div class="row">
      <form>
         <div class="col-sm-12">
            <label>Father's Details</label>
            <div class="row">
               <div class="col-sm-6 form-group">
                  <label>Name</label>
                  <input type="text" class="form-control"
                  placeholder="Enter name here..">
               </div>
               <div class="col-sm-6 form-group">
                  <label>Occupation</label>
                  <input type="text" class="form-control"
                  placeholder="Enter occupation here..">
               </div>
            </div>
            <div class="row">
               <div class="col-sm-6 form-group">
                  <label>Company</label>
                  <input type="text" class="form-control"
                  placeholder="Enter company's name here..">
               </div>
               <div class="col-sm-6 form-group">
                  <label>Designation</label>
                  <input type="text" class="form-control"
                  placeholder="Enter designation here..">
               </div>
            </div>
            <div class="row">
               <div class="col-sm-6 form-group">
                  <label>Email</label>
                  <input type="text" class="form-control"
                  placeholder="Enter email">
               </div>
               <div class="col-sm-6 form-group">
                  <label>Phone Number</label>
                  <input type="text" class="form-control"
                  placeholder="Enter phone number here">
               </div>
            </div>
            <hr>
            <label>Mother's Details</label>
               <div class="row">
               <div class="col-sm-6 form-group">
                  <label>Name</label>
                  <input type="text" class="form-control"
                  placeholder="Enter name here..">
               </div>
               <div class="col-sm-6 form-group">
                  <label>Occupation</label>
                  <input type="text" class="form-control"
                  placeholder="Enter occupation here..">
               </div>
            </div>
            <div class="row">
               <div class="col-sm-6 form-group">
                  <label>Company</label>
                  <input type="text" class="form-control"
                  placeholder="Enter company's name here..">
               </div>
               <div class="col-sm-6 form-group">
                  <label>Designation</label>
                  <input type="text" class="form-control"
                  placeholder="Enter designation here..">
               </div>
            </div>
            <div class="row">
               <div class="col-sm-6 form-group">
                  <label>Email</label>
                  <input type="text" class="form-control"
                  placeholder="Enter email">
               </div>
               <div class="col-sm-6 form-group">
                  <label>Phone Number</label>
                  <input type="text" class="form-control"
                  placeholder="Enter phone number here">
               </div>
            </div>
            <a href="index.html" button class="btn btn-lg btn-info">Previous</button> </a>
            <a href="form3.html" button class="btn btn-lg btn-info">Next</button> </a>
      </form>
      </div>
   </div>
</div>
{% endblock %}
