{% extends './base.html' %}
{% block title %}Dashboard{% endblock %}
{% block extrastyles %}
{% endblock %}
{% block body %}
<h1 class="well">Basic Details</h1>
<div class="col-lg-12 well">
   <div class="row">
      <form id="id_basic_details_form" action="/api/v1/update_basic_details" method="post">
         <div class="col-sm-12">
            <div class="form-group">
               <label>Roll Number</label>
               <input name="roll_no" id="id_roll_no" type="text" disabled value={{ basic_details.roll_no }} placeholder="Enter Roll Number Here.." class="form-control">
            </div>
            <div class="row">
               <div class="col-sm-6 form-group">
                  <label>First Name</label>
                  <input id="id_first_name" type="text" disabled value={{ basic_details.first_name }} placeholder="Enter First Name Here.." class="form-control">
               </div>
               <div class="col-sm-6 form-group">
                  <label>Last Name</label>
                  <input id="id_last_name" type="text" disabled value={{ basic_details.last_name }} placeholder="Enter Last Name Here.." class="form-control">
               </div>
            </div>
            <div class="row">
               <div class="col-sm-4 form-group">
                  <label>Gender</label>
                  <select id="id_gender" class="form-control" id="sel3">
                    {% if basic_details.gender == "Male" %}
                  <option value="Male" selected="selected">
                    {% else %}
                    <option value="Male">
                    {% endif %}
                     Male</option>


                     {% if basic_details.gender == "Female" %}
                   <option value="Female" selected="selected">
                     {% else %}
                     <option value="Female">
                     {% endif %}
                      Female</option>
                  </select>
               </div>
               <div class="col-sm-4 form-group">
                  <label>Date Of Birth</label>
                  <input id="id_date_of_birth" type="text" placeholder="DD/MM/YYYY format" class="form-control">
               </div>
            </div>
            <div class="form-group">
               <label>Course</label>
               <select disabled class="form-control" id="sel1">
                  <option>{{ basic_details.program }} - {{ basic_details.branch}} </option>
               </select>
            </div>
            <div class="form-group">
               <label>Official Email</label>
               <input id="id_email" type="text" value={{ basic_details.roll_no + "@lnmiit.ac.in" }} placeholder="Enter Email address Here.." class="form-control">
            </div>
            <div class="form-group">
               <label>Phone Number</label>
               <input id="id_phone_number" type="text" value={{ basic_details.phone_number }} placeholder="Enter Phone Number Here.." class="form-control">
            </div>
            <div class="form-group">
               <label>Address</label>
               <textarea id="id_address" placeholder="Enter Address Here.." rows="3" class="form-control"></textarea>
            </div>
            <h1 id="id_error"></h1>
             <a> <button class="btn btn-lg btn-info">Next</button> </a>
         </div>

      </form>
   </div>
</div>
{% endblock %}
