{% extends './base.html' %}
{% block title %}Dashboard{% endblock %}
{% block extrastyles %}
{% endblock %}
{% block body %}
<h1 class="well">Basic Details</h1>
<div class="col-lg-12 well">
   <div class="row">
      <form id="id_basic_details_form" action="/api/v1/update_basic_details" method="post">
         <div class="col-sm-12">
            <div class="form-group">
               <label>Roll Number</label>
               <input name="roll_no" id="id_roll_no" type="text" disabled value={{ basic_details.roll_no }} placeholder="Enter Roll Number Here.." class="form-control">
            </div>
            <div class="row">
               <div class="col-sm-6 form-group">
                  <label>First Name</label>
                  <input id="id_first_name" type="text" disabled value={{ basic_details.first_name }} placeholder="Enter First Name Here.." class="form-control">
               </div>
               <div class="col-sm-6 form-group">
                  <label>Last Name</label>
                  <input id="id_last_name" type="text" disabled value={{ basic_details.last_name }} placeholder="Enter Last Name Here.." class="form-control">
               </div>
            </div>
            <div class="row">
               <div class="col-sm-4 form-group">
                  <label>Gender</label>
                  <select id="id_gender" class="form-control" id="sel3">
                    {% if basic_details.gender == "Male" %}
                  <option value="Male" selected="selected">
                    {% else %}
                    <option value="Male">
                    {% endif %}
                     Male</option>


                     {% if basic_details.gender == "Female" %}
                   <option value="Female" selected="selected">
                     {% else %}
                     <option value="Female">
                     {% endif %}
                      Female</option>
                  </select>
               </div>
               <div class="col-sm-4 form-group">
                  <label>Date Of Birth</label>
                  <input id="id_date_of_birth" type="text" value="{{ basic_details.date_of_birth }}" placeholder="DD/MM/YYYY format" class="form-control">
               </div>
            </div>
            <div class="form-group">
               <label>Course</label>
               <select disabled class="form-control" id="sel1">
                  <option>{{ basic_details.program }} - {{ basic_details.branch}} </option>
               </select>
            </div>
            <div class="form-group">
               <label>Official Email</label>
               <input required id="id_email" type="text" value="{{ basic_details.email }}" placeholder="Enter Email address Here.." class="form-control">
            </div>
            <div class="form-group">
               <label>Phone Number</label>
               <input required id="id_phone_number" type="text" value={{ basic_details.phone_number }} placeholder="Enter Phone Number Here.." class="form-control">
            </div>
            <div class="form-group">
               <label>Address</label>
               <textarea required id="id_address" placeholder="Enter Address Here.." rows="3" class="form-control">{{ basic_details.address }}</textarea>
            </div>
            <h1 id="id_error"></h1>
             <a> <button class="btn btn-lg btn-info">Save</button> </a>
         </div>

      </form>
      <hr>
      <a href="./family"> <button class="btn btn-lg btn-info">Next</button> </a>
   </div>
</div>
<script>
$(window).load(function() {
  $('#id_basic_details_form').submit(function() {
    $('#id_error').text('');

    var frm = $('#id_basic_details_form');
    var rollNo = $('#id_roll_no').val();
    var firstName = $('#id_first_name').val();
    var lastName = $('#id_last_name').val();
    var gender = $('#id_gender').val();
    var dateOfBirth = $('#id_date_of_birth').val();
    var email = $('#id_email').val();
    var phoneNumber = $('#id_phone_number').val();
    var address = $('#id_address').val();

    $.ajax({
      type: frm.attr('method'),
      url: frm.attr('action'),
      contentType: 'application/json',
      data: JSON.stringify({
        first_name: firstName,
        last_name: lastName,
        gender: gender,
        date_of_birth: dateOfBirth,
        email: email,
        phone_number: phoneNumber,
        address: address,
      }),
      success: function(result) {
        if (result.success === 1) {
          $('#id_error').text(result.message);
          //$(location).attr('href', './family');

        } else if (result.success === -99) {
          $(location).attr('href', './logout');
        } else {
          $('#id_error').text(result.message);
        }
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        $('#id_error').text('Error: ' + errorThrown);
      },
    });
    return false;
  });
});
</script>
{% endblock %}
