<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/login.css" rel="stylesheet">
    <style>
    body {
        background-image: url("../static/img/lnmiit.jpeg");
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-default" style="display:block;height:100px;background-color:rgba(160, 179, 176, 0.25);">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-left" ><img style="height:70px;width:auto;" src="../static/img/logo.png"></div>

                
            </div>


        </div>
    </nav>
    <div class="row">

        <div class="col-sm-12">
            <div class="form" style="margin-top:200px;height:550px">

                <ul class="tab-group">
                    
                    <li id="id_login_tab" class="tab active"><a href="#login">Log In</a></li>
                    <li id="id_signup_tab" class="tab"><a href="#signup">Sign Up</a></li>
                </ul>
                <div style="height:30px;" class="text-danger" >
                    <h4>*If you are recruiting company, request the TPO for ID and Password.</h4>
                </div> 
                
                <div class="tab-content">
                    
                    <div id="login">
                        <h1 style="margin-top:20px;">Welcome Back!</h1>
                        <form id="id_login_form" action="/api/v1/login" method="post">
                            <div class="field-wrap">
                                <label>
                                    ID<span class="req">*</span>
                                </label>
                                <input id="id_login_form_roll_no" required autocomplete="off" />
                            </div>
                            <div class="field-wrap">
                                <label>
                                    Password<span class="req">*</span>
                                </label>
                                <input id="id_login_form_password" type="password" required autocomplete="off" />
                            </div>
                            <h3 id="id_error_login_form" style="color:#FAEBD7;"></h3>
                            <button class="button button-block" />Log In</button>
                        </form>
                    </div>
                    <div id="signup">
                        <!-- <h1>Sign Up</h1> -->
                        <form id="roll_no_form" action="/api/v1/fetch_from_mis" method="post">
                            <div class="field-wrap" style="padding-top: 100px;padding-bottom: 80px">
                                <label>
                                    Enter your Roll No.<span class="req">*</span>
                                </label>
                                <input id="id_roll_no" type="text" required autocomplete="off" />
                            </div>
                            <h3 id="id_error_roll_no_form" style="color:#FAEBD7;"></h3>
                            <button id="id_roll_no_form_submit_button" type="submit" class="button button-block"/>Continue</button>
                        </form>
                        <form id="password_form" action="/api/v1/create_account" method="post" class="initial-hide">
                            <div class="top-row">
                                <div class="field-wrap">
                                    <label id="id_label_first_name">
                                        First Name<span class="req">*</span>
                                    </label>
                                    <input id="id_first_name" type="text" required autocomplete="off" />
                                </div>
                                <div class="field-wrap">
                                    <label id="id_label_last_name">
                                        Last Name<span class="req">*</span>
                                    </label>
                                    <input id="id_last_name" type="text" required autocomplete="off" />
                                </div>
                            </div>
                            <div class="field-wrap">
                                <label id="id_label_password">
                                    Set A Password<span class="req">*</span>
                                </label>
                                <input id="id_password" type="password" required autocomplete="off" />
                            </div>
                            <h3 id="id_error_password_form" style="color:#FAEBD7;"></h3>
                            <button id="id_password_form_submit_button" type="submit" class="button button-block" />Continue</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}">
    </script>
</body>

</html>