{% extends './recuiter_base.html' %}
{% block title %}Position Details{% endblock %}
{% block extrastyles %}
{% endblock %}
{% block body %}
<div class="container" id="c1">
    <div class="col-md-12 well">
        <h2 style="font-weight: bold">Job Positions</h2>
        <div class="row">
            <form>
                <div class="row" style="padding-left: .4cm;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Job Title</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Type</label>
                            <input type="text" class="form-control"></input>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" id="p10" class="collapse">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Other Details</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Location</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Joining Date</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Cost To Company (CTC)</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" id="p1">
                                <label>Fixed (Gross)</label>
                                <input type="text" class="form-control"></input>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 well">
                        <h3>Bonus</h3>
                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Amount (INR)</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="form-group">
                        <label>Bond Details</label>
                        <textarea rows="3" class="form-control"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <input type='button' id="exp_col_btn" class="btn btn-info" data-toggle="collapse" data-target="#p10" value='Expand/Collapse' />
        <input id="b1" type='button' class="btn btn-info" value='Add New Position' />
    </div>
    <div class="col-md-12 well">
        <h2 style="font-weight: bold">Internship Positions</h2>
        <div class="row">
            <form>
                <div class="row" style="padding-left: .4cm;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Type</label>
                            <input type="text" class="form-control"></input>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" id="p11" class="collapse">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Other Details</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Location</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Joining Date</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Duration (in months)</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Stipend</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-12 well" >
                        <h3>Bonus</h3>
                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Amount (INR)</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="form-group">
                        <label>Bond Details</label>
                        <textarea rows="3" class="form-control"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <input type='button' id="exp_col_btn" class="btn btn-info" data-toggle="collapse" data-target="#p11" value='Expand/Collapse' />
        <input id="b1" type='button' class="btn btn-info" value='Add New Position' />
    </div>
    <a href="./schedule.html" button class="btn btn-lg btn-info">Next</button> </a>
    <a href="./event_details.html" button class="btn btn-lg btn-info">Previous</button> </a>
</div>

{% endblock %}
