{% extends "base.html" %}
{% block title %}Companies{% endblock %}
{% block body %}
<div id="Unverified" class="tabcontent">
   <div class="container" id="form1">
      {% if positions|length > 0 %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Company Name</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for po in positions %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{ po.companyName }}</td>
              <td>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal_{{ loop.index }}">View</button>
                <div class="modal fade" id="myModal_{{ loop.index }}" role="dialog">
                   <div class="modal-dialog">
                      <div class="modal-content">
                         <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{ po.companyName }} Details</h4>
                         </div>
                         <div class="modal-body">
                            {% for p in po.positions %}
                              <p><b>Position Title:</b> </p>
                              {{ p.position.title }}
                              <br>
                              <p><b>Description:</b> </p>
                              {{ p.position.description }}
                              <p><b>CTC:</b></p>
                              {{ p.position.ctc }}
                              <p><b>Position Type: </b></p>
                              {{ p.position.position_type }}
                              <hr>
                              {% if p.status == "can_apply" %}
                                <button type="button" class="btn btn-primary" onClick="applyForPosition('{{ p.code }}', '{{ po.companyCode }}', '{{ po.companyName }}')">Apply</button><hr>
                              {% else %}
                                <p><b>Status:</b> {{ p.status }}</p>
                              {% endif %}
                            {% endfor %}
                         </div>
                      </div>
                   </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <h5 class="well"> No data available in this section <h5>
      {% endif %}

   </div>
</div>

<script>
function applyForPosition(pCode, cCode) {
  $('#id_error').text('');

  var data = JSON.stringify({
    pCode: pCode,
    cCode: cCode,
    cName: cName,
  });

  $.ajax({
    type: 'POST',
    url: '/api/v1/apply_for_position',
    contentType: 'application/json',
    data: data,
    success: function(result) {
      if (result.success === 1) {
        $('#id_error').text(result.message);
        $(location).attr('href', './companies');
      } else if (result.success === -99) {
        $(location).attr('href', './logout');
      } else {
        $('#id_error').text(result.message);
      }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
      $('#id_error').text('Error: ' + errorThrown);
    },
  });
  return false;
}
</script>
{% endblock %}
