{% extends './tpo.html' %}
{% block body %}
<medium id ="msg" style="color:red;">You have to approve the details of the listed students</medium>
<div class="tab" style="margin-top: 25px;">
  <button class="tablinks" onclick="showStatus(event, 'All_Students')" id="defaultOpen">All Students</button>
  <button class="tablinks" onclick="showStatus(event, 'Approvable')">Approvable</button>
  <button class="tablinks" onclick="showStatus(event, 'Rejectable')">Rejectable</button>
</div>
<div id="All_Students" class="tabcontent">
  
  <div class="" id="form1">
    {% if all_verified_students|length > 0 %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Roll No</th>
          <th scope="col">Name</th>
          <th scope="col">Phone No</th>
          <th scope="col">Gender</th>
          <th scope="col">Branch</th>
        </tr>
      </thead>
      <tbody>
        {% for student in all_verified_students %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{ student.roll_no }}</td>
          <td>{{ student.first_name + student.last_name }}</td>
          <td>{{ student.phone_number }}</td>
          <td>{{ student.gender }}</td>
          <td>{{ student.branch }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <h5 class="well"> No data available in this section <h5>
    {% endif %}
  </div>
</div>
<div id="Approvable" class="tabcontent">
  
  <div class="" id="form1">
    {% if pending_students.noBacklog|length > 0 %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Roll No</th>
          <th scope="col">Name</th>
          <th scope="col">Active Backlog</th>
          <th scope="col">Approve</th>
        </tr>
      </thead>
      <tbody>
        {% for student in pending_students.noBacklog %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{ student.rollNo }}</td>
          <td>{{ student.name }}</td>
          <td>
            {% for backlog in student.backlog %}
            Sem:- {{ student.backlog[backlog].sem }} Course:- {{ student.backlog[backlog].course }} <br>
            {% endfor %}
            None
          </td>
          <td>
            <button id = "1" class="btn btn-primary" onclick="verifyStudent('{{ student.rollNo }}');">Approve</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <button id="approve" class="btn btn-success" onclick="selectAll(0)">Approve all</button>
    {% else %}
      <h5 class="well"> No data available in this section <h5>
    {% endif %}
  </div>
</div>
<div id="Rejectable" class="tabcontent">
  <div class="" id="form1">
    {% if pending_students.backlog|length > 0 %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Roll No</th>
          <th scope="col">Name</th>
          <th scope="col">Active Backlog</th>
          <th scope="col">Approve</th>
        </tr>
      </thead>
      <tbody>
        {% for student in pending_students.backlog %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{ student.rollNo }}</td>
          <td>{{ student.name }}</td>
          <td>
            {% for backlog in student.backlog %}
            Sem:- {{ student.backlog[backlog].sem }} Course:- {{ student.backlog[backlog].course }} <br>
            {% endfor %}
            None
          </td>
          <td>
            <button id = "1" class="btn btn-primary" onclick="verifyStudent('{{ student.rollNo }}');">Approve</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <h5 class="well"> No data available in this section <h5>
    {% endif %}
  </div>
</div>
</div>
{% endblock %}
