{% extends "tpo.html" %}
{% block body %}
<medium id ="msg" style="color:red;">Please generate credentials for the recruiting company</medium>
<div class="container" id="form1">
  <div>
      <div class="field-wrap" style="padding-top: 50px;padding-bottom: 50px">
        <label>
        Company Name<span class="req">*</span>
        </label>
        <input id="company_name" type="text" required autocomplete="off" />
      </div>
      <h2 id="id_error"></h2>
      <div style="border:black;">
      <h2 id="user_id"></h2>
      <h2 id="password"></h2>
      </div>
      <div id="show"></div>
      <button id="id_cred_submit_button" onClick="submit_form()" type="submit" class="btn btn-info"/>Generate</button>
  </div>
</div>

<script>
function submit_form() {
  $('#id_error').text('');
  var companyName = $('#company_name').val();

  if(companyName === '')
  {
    $('#id_error').text('Please enter company name.');
    return;
  }

  var data = JSON.stringify({
    company_name: companyName,
  });

  $.ajax({
    type: 'POST',
    url: '/api/v1/tpo/create_recuiter',
    contentType: 'application/json',
    data: data,
    success: function(result) {
      if (result.success === 1) {
        document.getElementById("msg").innerHTML = "The credentials have been generated";
        var div = document.createElement('div');
        div.style.height = "100px";
        div.id = "show1";        
        document.getElementById("show").appendChild(div);
        document.getElementById("show1").innerHTML = '<div class="container"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">View Credentials</button><div class="modal fade" id="myModal" role="dialog"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button><h4 class="modal-title">Credentials</h4></div><div class="modal-body"><p><b>User ID:</b> '+result.userId+'</p><hr><p><b>Password:</b> '+result.password+'</div><div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal"><a href="mailto:taybawasim@gmail.com">Share Via Mail</a></button></div></div></div></div></div>';
      
        document.getElementById('id_cred_submit_button').style.visibility ="hidden";
      } else if (result.success === -99) {
        $(location).attr('href', './logout');
      } else {
        $('#id_error').text(result.message);
      }
    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
      $('#id_error').text('Error: ' + errorThrown);
    },
  });
  return false;
}
</script>
{% endblock %}
