{% extends './tpo.html' %}
{% block body %}
<div class="container">
<div class="row">
   <div class="col-xs-8 col-md-4">
      <a href="#" class="thumbnail" title="">
         <div class="caption">
            <p><b> Number of Registered Students:</b> </p>
            <h3>
            {{ analysis.registered_students_count }} </n3>
         </div>
      </a>
   </div>
   <div class="col-xs-8 col-md-4">
      <a href="#" class="thumbnail" title="">
         <div class="caption">
            <p><b> Number of Unplaced Students:</b> </p>
            <h3>
            {{ analysis.unplaced_students_count }} </n3>
         </div>
      </a>
   </div>
   <div class="col-xs-8 col-md-4">
      <a href="#" class="thumbnail" title="">
         <div class="caption">
            <p><b> Number of Placed Students:</b> </p>
            <h3>
            {{ analysis.selected_students_count }} </n3>
         </div>
      </a>
   </div>
</div>
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">View Placed Students</button>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
   <div class="modal-dialog " style="width:1050px;">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Placed Students</h4>
         </div>
         <div class="modal-body" style=" max-height: 400px;overflow-y: auto;overflow-x:hidden;width:1050px">
            <div class="container" id="form1">
               <div class="col-xs-12" id="1">
                  <div class="col-xs-3"><a style="font-weight:bold;">Student</a></div>
                  <div class="col-xs-3"><a style="font-weight:bold;">Company Name</a></div>
                  <div class="col-xs-3"><a style="font-weight:bold;">Designation</a></div>
                  <div class="col-xs-3"><a style="font-weight:bold;">Package</a></div>
               </div>
               <br>
               <hr>
               {% for student in analysis.selected_students %}
               <div class="col-xs-12" id="1">
                  <div class="col-xs-3">{{ student.roll_no }}</div>
                  <div class="col-xs-3">{{ student.c_code }} : {{ student.c_name }}</div>
                  <div class="col-xs-3">{{ student.position }}</div>
                  <div class="col-xs-3">{{ student.package }}</div>
               </div>
               <br>
               <hr>
               {% endfor %}
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
