{% extends './tpo.html' %}
{% block body %}
  {% if feedbacks|length > 0 %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Recuiter ID</th>
        <th scope="col">How was the drive?</th>
        <th scope="col">Did you get the right candidates for your company?</th>
        <th scope="col">What things the Training and Placement Cell should improve upon?</th>
      </tr>
    </thead>
    <tbody>
      {% for feedback in feedbacks %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{ feedback.roll_no }}</td>
        <td>{{ feedback.feedback.how_was_the_drive }}</td>
        <td>{{ feedback.feedback.did_you_get_the_right_candidates_for_your_company }}</td>
        <td>{{ feedback.feedback.what_things_the_training_and_placement_cell_should_improve_upon }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <h5 class="well"> No data available in this section <h5>
  {% endif %}
{% endblock %}
