{% extends './tpo.html' %}
{% block body %}
<div class="">
  <div class="row">
     <div class="col-xs-8 col-md-4">
        <a href="#" class="thumbnail" title="">
           <div class="caption">
              <p><b> Number of Registered Students:</b> </p>
              <h3>
              {{ analysis.registered_students_count }} </n3>
           </div>
        </a>
     </div>
     <div class="col-xs-8 col-md-4">
        <a href="#" class="thumbnail" title="">
           <div class="caption">
              <p><b> Number of Unplaced Students:</b> </p>
              <h3>
              {{ analysis.unplaced_students_count }} </n3>
           </div>
        </a>
     </div>
     <div class="col-xs-8 col-md-4">
        <a href="#" class="thumbnail" title="">
           <div class="caption">
              <p><b> Number of Placed Students:</b> </p>
              <h3>
              {{ analysis.selected_students_count }} </n3>
           </div>
        </a>
     </div>
  </div>
  <div class="row">
     <div class="col-xs-8 col-md-4">
        <a href="#" class="thumbnail" title="">
           <div class="caption">
              <p><b> Highest Package:</b> </p>
              <h3>
              {{ analysis.package.highest }} </n3>
           </div>
        </a>
     </div>
     <div class="col-xs-8 col-md-4">
        <a href="#" class="thumbnail" title="">
           <div class="caption">
              <p><b> Average Package:</b> </p>
              <h3>
              {{ analysis.package.average }} </n3>
           </div>
        </a>
     </div>
     <div class="col-xs-8 col-md-4">
        <a href="#" class="thumbnail" title="">
           <div class="caption">
              <p><b> Lowest Package:</b> </p>
              <h3>
              {{ analysis.package.lowest }} </n3>
           </div>
        </a>
     </div>
  </div>
</div>
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">View Placed Students</button>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
   <div class="modal-dialog " style="width:1050px;">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Placed Students</h4>
         </div>
         <div class="modal-body" style=" max-height: 400px;overflow-y: auto;overflow-x:hidden;width:1050px">
		{% if analysis.selected_students|length > 0 %}
		    <table class="table table-striped">
		      <thead>
		        <tr>
		          <th scope="col">#</th>
		          <th scope="col">Student</th>
		          <th scope="col">Company Name</th>
		          <th scope="col">Designation</th>
		          <th scope="col">Package</th>
		        </tr>
		      </thead>
		      <tbody>
		        {% for student in analysis.selected_students %}
		        <tr>
		          <th scope="row">{{loop.index}}</th>
		          <td>{{ student.roll_no }}</td>
		          <td>{{ student.c_code }} : {{ student.c_name }}</td>
		          <td>{{ student.position }}</td>
		          <td>{{ student.package }}</td>
		        </tr>
		        {% endfor %}
		      </tbody>
		    </table>
		    {% else %}
		      <h5 class="well"> No data available in this section <h5>
		    {% endif %}
         </div>
      </div>
   </div>
</div>
{% endblock %}
